/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ebedf0;
    height: 100%;
}

.main-container {
    /* min-height: 80vh;   */
    padding: 1rem;
}

nav {
    display:flex;
    justify-content: space-around;
}

.nav-links{
    list-style: none; 
    display: flex;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-links > li > a, .customer-link{
    color: black;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: transparent;  
    text-underline-offset: 3px;  
    transition: text-decoration-color 0.3s, text-underline-offset 0.3s;  
}

.nav-links li a:hover {
    text-decoration-color: #040d16;  
    text-underline-offset: 8px;  
}

.nav-links > li {
    padding-left: 10px;
}

.main-content { 
    padding: 1rem;
}